body { /* page content */
    background-color: rgb(10, 10, 10); /* to contrast with the toolbar b b                                                                 */
    width: 100%; /* necessary for background-color to be full width w/o horizontal scrollbar */
    height: auto;
    z-index: 1;
}

/* infinite vertical line */
body {position: relative; margin: 0;}
body::after {content: '';}
body::after {position: fixed; top: 0; bottom: 0; left: 50%;}
body::after {z-index: -1;}
body::after {width: 1px; background: rgba(255, 218, 185, 0.5);}

/* 2-column layout */
.column {
    float: left;
}
.left {
    width: 30%;
}
.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*bio description */
.right p {
    padding-left: 30px;
    padding-top: 5%;
    font-size: 18px;
}
.right h3 {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}
.right ul {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.columntitle {
    float: left;
    width: 20%;
}
.rowtitle:after {
    content: "";
    display: table;
    clear: both;
}
.columnlist {
    float: left;
    width: 20%;
}
.rowlist:after {
    content: "";
    display: table;
    clear: both;
}
.columntitle:nth-child(4) {
    border-left-style: solid;
    border-left-color: rgba(255, 218, 185, .75);
    border-left-width: 1px;
}
.columnlist:nth-child(4) {
    border-left-style: solid;
    border-left-color: rgba(255, 218, 185, .75);
    border-left-width: 1px;
}
.right ul li {
    text-shadow: 3px 3px 20px black, -2px 1px 20px black;
}

/* bio selfies */
.left img {
    width: 100%;
    padding-top: 25px;
}
.left ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: auto;
}
.left li {
    padding: 0;
}
#pic1 {
    position: absolute;
    width: 30%;
}
#pic2 {
    position: absolute;
    width: 30%;
}
#pic3 {
    position: absolute;
    width: 30%;
}
#pic4 {
    position: absolute;
    width: 30%;
}
#pic5 {
    position: absolute;
    width: 30%;
}

/* bio image crossfade slideshow */ 
.left img:nth-child(6) { animation: xfade 24s 0s infinite; }
.left img:nth-child(5) { animation: xfade 24s 4s infinite; }
.left img:nth-child(4) { animation: xfade 24s 8s infinite; }
.left img:nth-child(3) { animation: xfade 24s 12s infinite; }
.left img:nth-child(2) { animation: xfade 24s 16s infinite; }
.left img:nth-child(1) { animation: xfade 24s 20s infinite; }
@keyframes xfade {
    17% { opacity:1; }
    25% { opacity:0; }
    92% { opacity:0; }
}

/* footer */
.footer {
    flex-shrink: 0;
    padding: 10px;
    background-color:rgb(0, 0, 0);

    color: rgba(255, 218, 185, .7);
    font-size: 13px;
    text-align: center;
}
.fa {
    margin: 0px 20px 0px;
    color: rgba(255, 218, 185, .7);
    width: 30px;

    font-size: 20px;
}
.fa:hover {
    opacity: 0.5;
}

