<!-- custom toolbar, height adjustable ------------------------------------->
<div class="customtoolbar">
    <!-- order of elements below matter for toolbar! -->
    <a id="section#1" class="soft-colorchange" mat-flat-button [routerLink]="'/photo'"> photo </a>
    <a id="section#2" class="soft-colorchange" mat-flat-button [routerLink]="'/video'"> video </a>
    <a id="section#3" class="soft-colorchange" mat-flat-button [routerLink]="'/art'"> art </a>
    <a id="logo" [routerLink]="'/about'">
        <img src="assets/lmvcenter.png">
        <div class="about-section">about me</div>
    </a>
    <a id="section#4" class="soft-colorchange" mat-flat-button [routerLink]="'/design'"> design </a>
    <a id="section#5" class="soft-colorchange" mat-flat-button [routerLink]="'/diy'"> diy </a>
    <a id="section#6" class="soft-colorchange" mat-flat-button [routerLink]="'/food'"> food </a>
</div>

<!-- "infinite" vertical line-->
<div class="verticalbackground"></div>

<body>

    <!-- fix for fixed toolbar position without covering up 1st header and homepage description -->
    <br>
    <br>
    <br>
    <br>

    <!-- homepage navigation button -->
    <a class="soft-colorchange" mat-flat-button [routerLink]="'/'" style="margin:0px 15px 0px 15px; font-size: 15px; font-style: italic;"> ⟵ back to home </a>

    <!-- 2-column layout to split pics and text -->
    <div class="row">

        <!-- image slideshow -->
        <div class="column left" style="background-color: rgb(10, 10, 10, 0); text-align: left;">
            <!-- bio image crossfade slideshow -->
            <img id="pic1" src="assets/bio/selfie1_oct2021.png">
            <img id="pic2" src="assets/bio/selfie2_oct2021.png">
            <img id="pic3" src="assets/bio/selfie_nov2021.jpg">
            <img id="pic4" src="assets/bio/selfie1_dec2021.jpeg">
            <img id="pic5" src="assets/bio/selfie2_dec2021.jpeg">
            <img id="pic6" src="assets/bio/selfie_mar2022.jpg">
        </div>

        <!-- bio description -->
        <div class="column right">
            <p><span style="background-color: rgba(10, 10, 10, 1);"><span style="font-size: 50px;"><b>Hi, I'm Leena!</b></span> <br> 
            Thank you for exploring my website 😊 This is all self-taught, so please pardon any imperfections. This site started as a high-school passion project to (1) challenge myself to learn web development and to (2) merge my various interests+skills into one accessible portfolio. 
            From Wix to Angular (currently), to whatever's next; This site will evolve as I evolve in life 💕 
            <br><br> As I was learning new abilities, I realized that I wanted to use my site as a window to help others see the process behind my works, in hopes of inspiring them. On social media, it's easy to feel small and start comparing one's abilities to others' advancements. 
            I aimed to document my learning journey and discuss my works in great detail-- something social media couldn't do meaningfully nor best. It helps to remember that each 'talented' person started from nothing. I believe anyone can develop an ability they didn't think they could before. Every finished complicated-looking product is made up of simple layers/processes -- so, take it step-by-step... then,
            before you know it, you'll have gotten further than you were yesterday! WOO-HOO PROGRESS!!           
            <br><br> I do a lot, and I'm curious about a lot. The list below will surely grow! </span></p>
            
                <div class="rowtitle">
                    <div class="columntitle">
                        <h3>Experience with:</h3>
                    </div>
                    <div class="columntitle">
                        <br>
                    </div>
                    <div class="columntitle">
                        <br>
                    </div>
                    <div class="columntitle">
                        <h3>Curious with:</h3>
                    </div>
                </div>

                <div class="rowlist">
                    <div class="columnlist">
                        <ul>
                            <li>Photo
                                <ul>
                                    <li>photography</li>
                                    <li>photo editing</li>
                                    <li>photo manipulation</li>
                                    <li>raster graphics editing</li>
                                </ul>
                            </li>  
                            <li>Video
                                <ul>
                                    <li>videography</li>
                                    <li>video editing</li>
                                    <li>video storyboarding</li>
                                    <li>motion graphics</li>
                                    <li>kinetic typography</li>
                                    <li>music mixing</li>
                                    <li>song covers</li>
                                    <li>open-style choreography</li>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                    <div class="columnlist">
                        <ul>
                            <li>Art
                                <ul>
                                    <li>acrylic painting</li>
                                    <li>watercolor painting</li>
                                    <li>ink drawing</li>
                                    <li>pencil drawing</li>
                                    <li>charcoal drawing</li>
                                </ul>
                            </li> 
                            <li>Design
                                <ul>
                                    <li>vector graphics design
                                        <ul>
                                            <li>logo design</li>
                                            <li>t-shirt design</li>
                                        </ul>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                    <div class="columnlist">
                        <ul>
                            <li>DIY
                                <ul>
                                    <li>sewing</li>
                                    <li>sewing alterations</li>
                                    <li>3D CAD design</li>
                                    <li>3D printing</li>
                                    <li>paper crafts</li>
                                </ul>
                            </li> 
                            <li>Food
                                <ul>
                                    <li>baking</li>
                                    <li>cooking</li>
                                    <li>meal prepping</li>
                                    <li>exploring food scenes</li>
                                    <li>appreciating food</li>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                    <div class="columnlist">
                        <ul>
                            <li>Arduino / RPi & IoT</li>
                            <li>mechatronics</li>
                            <li>ethical hacking</li>     
                            <li>digital drawing</li> 
                            <li>music production</li>
                            <li>beat making</li>
                            <li>electric guitar</li>
                            <li>lockpicking</li>
                            <li>woodworking</li>
                            <li>home improvement DIY</li>    
                            <br>
                            <br>
                            <br>                  
                            <br>
                        </ul>
                    </div>
                </div>

            <p style="padding-left: 30px; padding-top: 1%;"><span style="background-color: rgb(10, 10, 10, 1);">Send collaboration inquiries, commission requests, and comm̶e̶n̶t̶s̶pliments (positive energy please) to my email located in the footer.</span></p>  
        
        </div>
    </div> 

    <!-- footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer class="footer">
        <a href="https://mailhide.io/e/CqsApbTB" class="fa fa-envelope"></a>
        <a href="https://www.linkedin.com/in/leenamyvo/" class="fa fa-linkedin"></a>
        <a href="https://github.com/leenamyvo/LMV_PortfolioV2" class="fa fa-github"></a>
        <a href="https://www.youtube.com/channel/UCX33znNo-Eh3FRSjk8NceAg" class="fa fa-youtube-play"></a>
        <br> © {{currentyear}} Leena My Vo All Rights Reserved | Angular site by LMV | Hosted by GitHub Pages
    </footer>

</body>
