<!-- custom toolbar, height adjustable ------------------------------------->
<div class="customtoolbar">
    <!-- order of elements below matter for toolbar! -->
    <a id="section#1" class="soft-colorchange" mat-flat-button [routerLink]="'/photo'"> photo </a>
    <a id="section#2" class="soft-colorchange" mat-flat-button [routerLink]="'/video'"> video </a>
    <a id="section#3" class="soft-colorchange" mat-flat-button [routerLink]="'/art'"> art </a>
    <a id="logo" [routerLink]="'/about'">
        <img src="assets/lmvcenter.png">
        <div class="about-section">about me</div>
    </a>
    <a id="section#4" class="soft-colorchange" mat-flat-button [routerLink]="'/design'"> design </a>
    <a id="section#5" class="soft-colorchange" mat-flat-button [routerLink]="'/diy'"> diy </a>
    <a id="section#6" class="soft-colorchange" mat-flat-button [routerLink]="'/food'"> food </a>
</div>

<body>
       
    <!-- fix for fixed toolbar position without covering up 1st header and homepage description -->
    <br>
    <br>
    <br>
    <br>

    <!-- homepage navigation button -->
    <a class="soft-colorchange" mat-flat-button [routerLink]="'/'" style="margin:0px 15px 0px 15px; font-size: 15px; font-style: italic;"> ⟵ back to home </a>
    
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/VZphBdEeMH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>Aug 2021 | Raw Vocals | I Won't Say (I'm In Love) by Susan Egan / Hercules</b></span> <br> 
            After releasing the first song on my YouTube channel, I definitely wasn't happy with my less-than-rookie piano instrumental. I was more confident in the raw vocals. 
            I started a series called Unfiltered where I'll be releasing the raw recordings of impromptu covers with a standardized cover graphic design. 
            This series will allow me to release some form of music while I build up my music making skills-- to a point where I won't run away and cringe haha. 
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            This cover was a year in the making. I had gifted my version back to the friend that had introduced it to me with her version for her birthday. 
            My cover takes inspiration from the Curley Gao's renditiion from the Chuang 2020 reality competition.
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I used my LG ThinQ V40 recording app for vocal recording, Audacity for audio conversion, DaVinci Resolve [Free Verison] for video editing, and Inkscape for the cover graphic.  
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/HtsBsauK2ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>Aug 2021 | Raw Vocals | Rising Up by 1v1 Concept Video</b></span> <br> 
            I've adored this song from Hercules ever since I was a child, and I've always wanted to cover it. I feel that I gravitate to this song, because it's within my comfortable singing range?
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I used my LG ThinQ V40 recording app for vocal recording, Audacity for audio conversion, DaVinci Resolve [Free Verison] for video editing, and Inkscape for the cover graphic.  
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/IYxMQu1PDjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>Feb 2021 | Music Cover | I Like You by Curley Gao / Kit Chan</b></span> <br> 
            Valentine's day was coming around the corner, and I had a fitting song cover to release. I already had the raw vocals recording but not an instrumental backing. Instead of copping out for convenience, I decided to learn piano and music making techniques to produce my first instrumental backing track.
            I don't stand with pride for my singing, piano playing, or music making abilities. <u>I am self-taught and very timid about singing in front of anyone. My vocal chords literally shut down to a pip squeak haha.</u> So.. this first music release to the world was a stepping stone to breaking out of my shell. 
            <span style="font-size: 11px;">Though, I still dash away to hide under a rock with a beet red face when this video is replayed.</span>
            Despite the cringe I'm feeling now, I know that in the long run I will appreciate it for my own growth. Making full-fledged songs has always been a goal of mine since middle school when I would easily write poetry (which ended up turning into songs with imagined melodies). 
            However, self-teaching piano and beat-making didn't stick, I don't know how to read music, and I didn't know other instruments. Thus, if the piano track sounds very robotic, it is literally me pressing one key at a time in hopes that I guessed right.
            </span></p> 
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            My friend introduced me to this song by gifting her cover version to me on my birthday. It was a surprise, because she was timid about singing in the presence of others. To send a clip to me, made me feel very honored and proud that she had built the confidence to share this special moment with me.
            She accompanied her vocals with her acoustic guitar, which she was very comfortable with. When I was struggling making the piano track, I almost reached out to her for help. I ultimately didn't, because I needed to challenge myself!! If not now, then years would pass again. This cover also reignited my passion for 
            learning foreign languages again. I broke down each word into phonetic phrases. It's a long process, but that's how I learn; so far, I've learned Spanish and French.
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I used Cakewalk by Bandlab to arrange and record tracks, a CASIO CTK-541 piano (converted to a MIDI keyboard via cable), BandLab Assistant and Audacity to denoise audio, fake flowers from Dollar Tree, Nikon DSLR D3200 with AF-S Nikkor 35mm f/1.8G lens to film, qDslrDashboard to monitor footage, Gimp for photo editing, Inkscape for graphics, and DaVinci Resolve [Free Version] to edit footage.  
            This project helped me get back into learning Cakewalk, using my MIDI piano again, learning a little bit about piano playing/theory, building up my musical confidence, and using my new DSLR remote monitoring setup.
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/KfbsKXgqYnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>Jan 2021 | Concept Video | Rising Up by 1v1</b></span> <br> 
            This concept video signifies the establishment of my personal brand and portfolio of creative pursuits. To commemorate the new year, the start of this exciting journey, and the past challenges I overcame, I chose an empowering song that embodied my triumphant and determined spirit.
            When faced with trials and tribulations in life, I'll always pick myself up and push onward!
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I designed my branding logo (my initials: L M V) in high school years ago, but I never seemed to have enough downtime and spare energy to tackle the web development learning curve whilst juggling pre-college readiness and then college responsibilites.
            So, finally, I made progress this year! 
            </span></p> 
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I used Inkscape to design static graphics, Hohem iSteady Mobile+ 3-Axis Gimbal and Nikon DSLR 3200 with AF-S Nikkor 35mm f/1.8G lens to film, HandBrake to encode variable-FPS mobile footage, and DaVinci Resolve [Free Version] to edit. 
            My younger sister helped film the inception footage with the gimbal. This project was crucial to my development, because I learned that I've been rendering videos at incorrect settings so far... oops.
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/lz9D1Tp6H7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>Mar 2020 | Dance Concept Video | Open-Style Choreography | Beep Beep by Shift K3Y</b></span> <br> 
            I had the honor and opportunity to direct, storyboard, choreograph, and edit a dance concept video for our Just Cuz Crew dance team as a senior member. Not shown is the open community class I had taught prior that introduced the choreography shown.
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">
            I used this project to learn DaVinci Resolve [Free Version], because I learned that I was incorrectly using Adobe After Effects as a video editing solution. In the past, After Effects was the only free resource I had access to and knew of. So, I made do.
            With my Resolve journey beginning, I'm excited to start learning advanced effects, such as the freeze frame clone trail walkthrough effect shown in Ariana Grande's "The Light is Coming" music video.    
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="column left">
            <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/teyesWO7vPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="column right">
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;"><span style="font-size: 25px; line-height: 30px;"><b>May 2019 | Dance Concept Video | Open-Style Relay Choreography | Flawless Remix by Beyoncé</b></span> <br> 
            Spawned from a midnight rush of adrenaline, creativity, and enthusiasm, several friends from our Just Cuz Crew dance team and I hopped up from our sedentary positions and spotaneously decided to dance!
            Each of us split sections of the song to create choreography within 20mins, taught it to the others (without our handy studio mirrors) on the top of a parking lot, set formations, and ran it through 3-5x with little review.
            We were surprised with how clean our formations were with the no-mirror learning and rapid runthroughs. Although we were very tired by the end, it was a fruitful, fun, and memorable project!
            Unfortunately, the video received a copyright claim due to the song, and it removed the audio on several social platforms. So, we weren't able to share our project much.
            </span></p>
            <p><span style="text-shadow: 3px 3px 20px black, -2px 1px 20px black;">Alex and I's section of the choreography (we partnered up) is when Alex and I are in the center of the formation at 0:40. My dorm friend was luckily up as well and was able to film for us. 
            I directed the introduction video part and handled the editing in Adobe After Effects. (At the time, it was the only video editing software I had access to and was familiar with. I went to DaVinci Resolve for later projects.)</span></p>    
        </div>
    </div>

    <!-- footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer class="footer">
        <a href="https://mailhide.io/e/CqsApbTB" class="fa fa-envelope"></a>
        <a href="https://www.linkedin.com/in/leenamyvo/" class="fa fa-linkedin"></a>
        <a href="https://github.com/leenamyvo/LMV_PortfolioV2" class="fa fa-github"></a>
        <a href="https://www.youtube.com/channel/UCX33znNo-Eh3FRSjk8NceAg" class="fa fa-youtube-play"></a>
        <br>© {{currentyear}} Leena My Vo All Rights Reserved | Angular site by LMV | Hosted by GitHub Pages
    </footer>
    
</body>
