body { /* page content */
    background-color: rgb(10, 10, 10); /* to contrast with the toolbar b b                                                                 */
    width: 100%; /* necessary for background-color to be full width w/o horizontal scrollbar */
    height: auto;
    z-index: 1;
}

/* 2-column layout */
.column {
    float: left;
}
.left {
    width: 30%;
}
.right {
    width: 70%;
}
.row {
    padding-top: 30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* videos */
.youtube {
    aspect-ratio: 16/9;
    width: 100%;
}

/*video descriptions */
.right p {
    padding-left: 20px;
    line-height: 21px;
    margin: 15px;
    font-size: 18px;
}