<!-- custom toolbar, height adjustable ------------------------------------->
<div class="customtoolbar">
    <!-- order of elements below matter for toolbar! -->
    <a id="section#1" class="soft-colorchange" mat-flat-button [routerLink]="'/photo'"> photo </a>
    <a id="section#2" class="soft-colorchange" mat-flat-button [routerLink]="'/video'"> video </a>
    <a id="section#3" class="soft-colorchange" mat-flat-button [routerLink]="'/art'"> art </a>
    <a id="logo" [routerLink]="'/about'">
        <img src="assets/lmvcenter.png">
        <div class="about-section">about me</div>
    </a>
    <a id="section#4" class="soft-colorchange" mat-flat-button [routerLink]="'/design'"> design </a>
    <a id="section#5" class="soft-colorchange" mat-flat-button [routerLink]="'/diy'"> diy </a>
    <a id="section#6" class="soft-colorchange" mat-flat-button [routerLink]="'/food'"> food </a>
</div>

<!-- "infinite" vertical line-->
<div class="verticalbackground"></div>

<body>
     
    <!-- fix for fixed toolbar position without covering up 1st header and homepage description -->
    <br>
    <br>
    <br>
    <br>

    <!-- homepage navigation button -->
    <a class="soft-colorchange" mat-flat-button [routerLink]="'/'" style="margin:0px 15px 0px 15px; font-size: 15px; font-style: italic;"> ⟵ back to home </a>
    
    <p>diy works!</p>
    
    <!-- footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer class="footer">
        <a href="https://mailhide.io/e/CqsApbTB" class="fa fa-envelope"></a>
        <a href="https://www.linkedin.com/in/leenamyvo/" class="fa fa-linkedin"></a>
        <a href="https://github.com/leenamyvo/LMV_PortfolioV2" class="fa fa-github"></a>
        <a href="https://www.youtube.com/channel/UCX33znNo-Eh3FRSjk8NceAg" class="fa fa-youtube-play"></a>
        <br> © {{currentyear}} Leena My Vo All Rights Reserved | Angular site by LMV | Hosted by GitHub Pages
    </footer>

</body>
