/**/

/* page content below toolbar ------------------------- */
/* infinite vertical line */
body {position: relative; margin: 0;}
body::after {content: '';}
body::after {position: fixed; top: 0; bottom: 0; left: 50%;}
body::after {z-index: -1;}
body::after {width: 1px; background: rgba(255, 218, 185, 0.5);}

img { /* control specific image sizes via class selectors */
    max-width: auto;
    max-height: auto;
}

body { /* page content */
    background-color: rgb(10, 10, 10); /* to contrast with the toolbar */
    width: 100%; /* necessary for background-color to be full width w/o horizontal scrollbar */
    height: auto;
    z-index: 2
}

p { /* paragraph text */
    text-align: center;
    font-weight: 400;
    font-size: 17.5px;
}

h1 { /* header text */
    font-size: 22px;
    text-align: center;
    text-shadow: 3px 3px 20px black, -2px 1px 20px black;
}

/* figure out fix for post not same sizes */
.instagram-media {
    min-width: 235px !important;
    width: 60% !important;
    align-content: center;
}


/* footer */
.footer {
    flex-shrink: 0;
    padding: 10px;
    background-color:rgb(0, 0, 0);

    color: rgba(255, 218, 185, .7);
    font-size: 13px;
    text-align: center;
}
.fa {
    margin: 0px 20px 0px;
    color: rgba(255, 218, 185, .7);
    width: 30px;

    font-size: 20px;
}
.fa:hover {
    opacity: 0.5;
}

