/**/

/* page content below toolbar ------------------------- */
/* infinite vertical line */
body {position: relative; margin: 0;}
body::after {content: '';}
body::after {position: fixed; top: 0; bottom: 0; left: 50%;}
body::after {z-index: -1;}
body::after {width: 1px; background: rgba(255, 218, 185, 0.5);}

img { /* control specific image sizes via class selectors */
    max-width: auto;
    max-height: auto;
}

body { /* page content */
    background-color: rgb(10, 10, 10); /* to contrast with the toolbar b b                                                                 */
    width: 100%; /* necessary for background-color to be full width w/o horizontal scrollbar */
    height: auto;
    z-index: 2
}

p { /* paragraph text */
    text-align: center;
    font-weight: 400;
    font-size: 17.5px;
}

h1 { /* header text */
    font-size: 22px;
    text-align: center;
}

drag-scroll .carousellandingvideo { /*landing carousel for video section */
    background-color: aqua; /* temporary color to check margins */
}

.carousellandingphoto img { /*image properties of landing carousel for photo section */
    width: 400px;
    height: auto;
}

drag-scroll .carousellandingphoto { /*landing carousel for photo section */
    background-color: aqua; /* temporary color to check margins */
    width: 100px; /*400px is 1 slide photo (w/ height 800px), auto extends slide photos to page width */
    height: auto;
}